# Swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session files
Session.vim
Sessionx.vim

# Temporary/Backup files
.netrwhist
*~
*.bak

# Persistent undo
[._]*.un~
__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
.env
.env.*

.torch-cache/
.pytest_cache/
.mypy_cache/

.vscode/
.idea/

dist/
build/
model/
piper-models/
*.egg-info/

*.un~

*.zip
*.wav
*.mp3
*.tgz
*.pt
!yes.wav
!yes_slow.wav
!127389__acclivity__thetimehascome.wav
!freesound_community-yes-96786.wav

speech_distortion_preview.wav

english_phoneme_assets/
google_au_phonemes/
kokoro-phones/
per-phoneme-stitch-test/
per-phoneme/
