__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
.env
.env.*

.torch-cache/
.pytest_cache/
.mypy_cache/

.vscode/
.idea/

dist/
build/
model/
piper-models/
*.egg-info/

*.un~

*.zip
*.wav
*.tgz
*.pt
!yes.wav
!yes_slow.wav
!127389__acclivity__thetimehascome.wav
!freesound_community-yes-96786.wav

speech_distortion_preview.wav
